{% extends 'base.html' %}
{% import '_components.html' as ui %}
{% block content %}
  <h1>{{ t('login_title') }}</h1>
  <form method="post" action="{{ url_for('login_post', next=next) }}">
    {% call ui.card() %}
      {% call ui.field(t('username'), 'username') %}
        <input type="text" id="username" name="username" required>
      {% endcall %}
      {% call ui.field(t('password'), 'password') %}
        <input type="password" id="password" name="password" required>
      {% endcall %}
      {{ ui.button(t('login_button'), attrs='type="submit"') }}
    {% endcall %}
  </form>
{% endblock %}



